// General setup
*, *::before, *::after {
  box-sizing: inherit;
}

html {
  background-color: white;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
}

html {
  box-sizing: border-box;
  overflow-y: auto !important;
  overflow-x: hidden;
}

body {
  overflow-x: visible !important;
  line-height: normal;
}

body,
button,
input,
optgroup,
select,
textarea  {
  font-family: "Open sans", sans-serif !important;
}


article,
aside,
figure,
footer,
header,
hgroup,
section {
  display: block;
}

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

.button:focus, .input:focus, .textarea:focus, .select select:focus {
  outline: none;
}


iframe {
  border: 0;
}

img,
video {
  height: auto;
  max-width: 100%;
}

a {
  text-decoration: none;
}

.section {
  padding: 3rem 1.5rem;
}
