// Colors
$white: white;
$black: #212121;
$dark: #212121;
$dark-grey: #707070;
$light-grey: #f6f6f6;
$grey: #d9d9d9;
$grey-2: #9ea5a5;
$error: #d93900;
$green: #28cfc7;
$green-button: #00b2a9;
$blue-ir: #2d1996;
$blue: #271987;
$wedio-red: #f50057;
$wedio-red-button: #ff0060;
$wedio-red-light: #ff4080;

// Font sizes 
$text-20: 20px;
$text-18: 18px;
$text-16: 16px;
$text-14: 14px;
$text-12: 12px;
$text-10: 10px;
$text-8: 8px;


// Bulma stuff
$body-color: #212121;
$text: #212121;
$body-line-height: initial;
$family-primary: "Open sans", sans-serif;
$body-color: $black;

// Navbar
$my-navbar-height: 80px;
$navbar-height: 5rem;
$navbar-background-color: $black;
$navbar-item-color: white;
$navbar-breakpoint: 200px;

$navbar-item-hover-color: none;
$navbar-item-hover-background-color: none;

// Gap
$my-gap: 12px;

// Breakpoints
$tablet: 769px;
$mobile: 768px; 
$desktop: 1024px;
$widescreen: 1216px;
$widescreen-enabled: false;
$fullhd-enabled: false;

// tabs
$tabs-link-active-border-bottom-color: #00b2a9;
$tabs-link-active-color: #00b2a9;
$tabs-toggle-link-active-background-color: #00b2a9;
$tabs-toggle-link-active-border-color: #00b2a9;

$tabs-border-bottom-color: $grey;
$tabs-border-bottom-width: 3px;
$tabs-link-padding: 0px 0px;

$tabs-link-color: $grey;
$tabs-link-hover-border-bottom-color: $green;
$tabs-link-hover-color: $green;
